:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index));
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
}

.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em;
}

.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  transform: translate(-50%);
}

.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
}

.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em;
}

.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translate(-50%);
}

.Toastify__toast-container--bottom-right {
  bottom: 1em;
  right: 1em;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0;
  }

  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    top: 0;
    transform: translate(0);
  }

  .Toastify__toast-container--bottom-left,
  .Toastify__toast-container--bottom-center,
  .Toastify__toast-container--bottom-right {
    bottom: 0;
    transform: translate(0);
  }

  .Toastify__toast-container--rtl {
    right: 0;
    left: initial;
  }
}

.Toastify__toast {
  position: relative;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 10px #0000001a, 0 2px 15px #0000000d;
  display: flex;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  overflow: hidden;
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  z-index: 0;
}

.Toastify__toast--rtl {
  direction: rtl;
}

.Toastify__toast--close-on-click {
  cursor: pointer;
}

.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1 auto;
  padding: 6px;
  display: flex;
  align-items: center;
}

.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: 1;
}

.Toastify__toast-icon {
  margin-inline-end: 10px;
  width: 20px;
  flex-shrink: 0;
  display: flex;
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.7s;
}

.Toastify--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}

.Toastify__toast-theme--dark {
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
}

.Toastify__toast-theme--light,
.Toastify__toast-theme--colored.Toastify__toast--default {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  color: var(--toastify-text-color-info);
  background: var(--toastify-color-info);
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  color: var(--toastify-text-color-warning);
  background: var(--toastify-color-warning);
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  color: var(--toastify-text-color-error);
  background: var(--toastify-color-error);
}

.Toastify__progress-bar-theme--light {
  background: var(--toastify-color-progress-light);
}

.Toastify__progress-bar-theme--dark {
  background: var(--toastify-color-progress-dark);
}

.Toastify__progress-bar--info {
  background: var(--toastify-color-progress-info);
}

.Toastify__progress-bar--success {
  background: var(--toastify-color-progress-success);
}

.Toastify__progress-bar--warning {
  background: var(--toastify-color-progress-warning);
}

.Toastify__progress-bar--error {
  background: var(--toastify-color-progress-error);
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: var(--toastify-color-transparent);
}

.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  align-self: flex-start;
}

.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
}

.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 1;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: var(--toastify-z-index);
  opacity: 0.7;
  transform-origin: left;
}

.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}

.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}

.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
}

.Toastify__spinner {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color-empty-area);
  border-right-color: var(--toastify-spinner-color);
  animation: Toastify__spin 0.65s linear infinite;
}

@keyframes Toastify__bounceInRight {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes Toastify__bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes Toastify__bounceInUp {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes Toastify__bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.Toastify__bounce-enter--top-left,
.Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}

.Toastify__bounce-enter--top-right,
.Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}

.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}

.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left,
.Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}

.Toastify__bounce-exit--top-right,
.Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}

.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}

.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes Toastify__zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotateX(-5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes Toastify__flipOut {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotateX(-20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
  0% {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes Toastify__slideInLeft {
  0% {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes Toastify__slideInUp {
  0% {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes Toastify__slideInDown {
  0% {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes Toastify__slideOutRight {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}

@keyframes Toastify__slideOutLeft {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}

@keyframes Toastify__slideOutDown {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}

@keyframes Toastify__slideOutUp {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}

.Toastify__slide-enter--top-left,
.Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}

.Toastify__slide-enter--top-right,
.Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}

.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}

.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left,
.Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
}

.Toastify__slide-exit--top-right,
.Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
}

.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
}

.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
}

@keyframes Toastify__spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

._wrapper_1mssx_1 {
  width: var(--yn-dc-promo-table-width);
  line-height: var(--yn-dc-promo-table-line-height);
}

._promoTitle_1mssx_6 {
  border-width: calc(var(--yn-dc-promo-table-border-width) * 1px) !important;
  border-bottom: none !important;
  border-color: var(--yn-dc-promo-table-border-color) !important;
  font-size: calc(var(--yn-dc-promo-table-promo-text-size) * 1px);
  font-weight: var(--yn-dc-promo-table-promo-text-weight);
  color: var(--yn-dc-promo-table-promo-text-color);
  background-color: var(--yn-dc-promo-table-promo-text-background-color);
  border-top-left-radius: var(--yn-dc-promo-table-border-radius);
  border-top-right-radius: var(--yn-dc-promo-table-border-radius);
  padding: 10px;
}

._table_1mssx_19 {
  width: 100%;
  border-width: calc(var(--yn-dc-promo-table-border-width) * 1px) !important;
  border-color: var(--yn-dc-promo-table-border-color) !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
  text-align: var(--yn-dc-promo-table-text-align);
  border-bottom-left-radius: var(--yn-dc-promo-table-border-radius);
  border-bottom-right-radius: var(--yn-dc-promo-table-border-radius);
  overflow: hidden;
}

._headingColumn_1mssx_31 {
  border-width: calc(var(--yn-dc-promo-table-border-width) * 1px) !important;
  border-top: none !important;
  border-bottom: none !important;
  border-color: var(--yn-dc-promo-table-border-color) !important;
  text-align: var(--yn-dc-promo-table-text-align);
  font-size: calc(var(--yn-dc-promo-table-heading-text-size) * 1px);
  font-weight: var(--yn-dc-promo-table-heading-text-weight);
  color: var(--yn-dc-promo-table-heading-text-color);
  background-color: var(--yn-dc-promo-table-heading-background-color);
  padding: 10px;
}

._headingColumnLeft_1mssx_44 {
  border-left: none !important;
}

._headingColumnRight_1mssx_48 {
  border-left: none !important;
  border-right: none !important;
}

._bodyColumn_1mssx_53 {
  border-width: calc(var(--yn-dc-promo-table-border-width) * 1px) !important;
  border-bottom: none !important;
  border-color: var(--yn-dc-promo-table-border-color) !important;
  text-align: var(--yn-dc-promo-table-text-align);
  font-size: calc(var(--yn-dc-promo-table-body-text-size) * 1px);
  font-weight: var(--yn-dc-promo-table-body-text-weight);
  color: var(--yn-dc-promo-table-body-text-color);
  background-color: var(--yn-dc-promo-table-body-background-color);
  padding: 10px;
}

._bodyColumnLeft_1mssx_65 {
  border-left: none !important;
}

._bodyColumnRight_1mssx_69 {
  border-left: none !important;
  border-right: none !important;
}

._wrapper_ipt6n_1 {
  line-height: var(--yn-dc-promo-selector-line-height);
  margin-top: calc(var(--yn-dc-promo-selector-margin-top) * 1px);
  margin-bottom: calc(var(--yn-dc-promo-selector-margin-bottom) * 1px);
  margin-left: calc(var(--yn-dc-promo-selector-margin-left) * 1px);
  margin-right: calc(var(--yn-dc-promo-selector-margin-right) * 1px);
  text-align: var(--yn-dc-promo-selector-text-align);
  width: var(--yn-dc-promo-selector-width);
}

._promoTitle_ipt6n_11 {
  font-size: calc(var(--yn-dc-promo-selector-heading-text-size) * 1px);
  font-weight: var(--yn-dc-promo-selector-heading-text-weight);
  color: var(--yn-dc-promo-selector-heading-text-color);
  margin-bottom: 10px;
}

._cards_ipt6n_18 {
  overflow: hidden;
}

._cardSelected_ipt6n_22,
._card_ipt6n_18 {
  border-width: calc(
    var(--yn-dc-promo-selector-card-border-width) * 1px
  ) !important;
  border-color: var(--yn-dc-promo-selector-card-border-color) !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
  border-radius: var(--yn-dc-promo-selector-card-border-radius);
  overflow: hidden;
  margin-top: 8px;
}

._card_ipt6n_18 {
  background-color: var(
    --yn-dc-promo-selector-card-background-color
  ) !important;
}

._cardSelected_ipt6n_22 {
  background-color: var(
    --yn-dc-promo-selector-card-selected-background-color
  ) !important;
}

._cardBody_ipt6n_42 {
  padding: 10px;
}

._cardPromo_ipt6n_46 {
  display: flex !important;
  align-items: center !important;
  font-size: calc(var(--yn-dc-promo-selector-card-text-size) * 1px) !important;
  font-weight: var(--yn-dc-promo-selector-card-text-weight);
  color: var(--yn-dc-promo-selector-card-text-color) !important;
  overflow: hidden;
}

._highlight_ipt6n_55 {
  display: flex;
  justify-content: var(--yn-dc-promo-selector-highlight-alignment) !important;
  font-weight: var(--yn-dc-promo-selector-highlight-text-weight) !important;
  font-size: calc(
    var(--yn-dc-promo-selector-highlight-text-size) * 1px
  ) !important;
}

._highlightPopular_ipt6n_64 {
  padding: 3px 6px;
  color: var(--yn-dc-promo-selector-highlight-popular-text-color);
  background-color: var(
    --yn-dc-promo-selector-highlight-popular-background-color
  );
  border-radius: var(--yn-dc-promo-selector-highlight-popular-border-radius);
}

._highlightSavings_ipt6n_73 {
  padding: 3px 6px;
  color: var(--yn-dc-promo-selector-highlight-savings-text-color);
  background-color: var(
    --yn-dc-promo-selector-highlight-savings-background-color
  );
  border-radius: var(--yn-dc-promo-selector-highlight-savings-border-radius);
}

._radioButton_ipt6n_82 {
  margin: 0 8px 0 0 !important;
  cursor: pointer !important;
  height: 16px !important;
  width: 16px !important;
}

._promo_ipt6n_11 {
  text-align: end !important;
  flex: 1 !important;
}

._promoSaved_ipt6n_95 {
  margin-top: 3px;
  font-size: calc(
    var(--yn-dc-promo-selector-card-text-size) * 0.8px
  ) !important;
}

._promoCost_ipt6n_102 {
  text-decoration: line-through;
  font-size: calc(
    var(--yn-dc-promo-selector-card-text-size) * 0.8px
  ) !important;
  color: #969696 !important;
  margin-top: 3px !important;
}

._addToCartButton_ipt6n_111 {
  margin-top: 12px !important;
  padding: 3px 6px !important;
  font-size: calc(
    var(--yn-dc-promo-selector-button-cart-text-size) * 1px
  ) !important;
  font-weight: var(--yn-dc-promo-selector-button-cart-text-weight) !important;
  color: var(--yn-dc-promo-selector-button-cart-text-color) !important;
  background-color: var(
    --yn-dc-promo-selector-button-cart-background-color
  ) !important;
  border-width: calc(
    var(--yn-dc-promo-selector-button-cart-border-width) * 1px
  ) !important;
  border-color: var(--yn-dc-promo-selector-button-cart-border-color) !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
  border-radius: var(
    --yn-dc-promo-selector-button-cart-border-radius
  ) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 45px !important;
  cursor: pointer;
}

._addToCartButton_ipt6n_111:hover {
  border-width: calc(
    (var(--yn-dc-promo-selector-button-cart-border-width) + 1) * 1px
  ) !important;
}

._variantItems_ipt6n_138 {
  margin-top: 10px !important;
  max-height: 300px !important;
  overflow-y: auto !important;
}

._variantButton_ipt6n_144 {
  font-size: calc(
    var(--yn-dc-promo-selector-button-variant-text-size) * 1px
  ) !important;
  font-weight: var(
    --yn-dc-promo-selector-button-variant-text-weight
  ) !important;
  color: var(--yn-dc-promo-selector-button-variant-text-color) !important;
}

._variantItem_ipt6n_138 {
  display: flex !important;
  align-items: center !important;
  padding: 4px 0 !important;
}

._variantAddvariant_ipt6n_156 {
  margin-left: 12px !important;
  font-size: calc(
    var(--yn-dc-promo-selector-button-variant-text-size) * 1px
  ) !important;
  font-weight: var(--yn-dc-promo-selector-button-variant-text-weight);
  color: var(--yn-dc-promo-selector-button-variant-text-color) !important;
  cursor: pointer;
}

._variantAddvariant_ipt6n_156:hover {
  color: #969696 !important;
}

._variantItemText_ipt6n_170 {
  font-size: calc(var(--yn-dc-promo-selector-card-text-size) * 1px) !important;
  font-weight: var(--yn-dc-promo-selector-card-text-weight);
  color: var(--yn-dc-promo-selector-card-text-color) !important;
}

._variantQuantity_ipt6n_176 {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  color: var(--yn-dc-promo-selector-card-text-color) !important;
}

._variantQuantityBox_ipt6n_184 {
  display: flex !important;
  align-items: center;
  border: 1px solid #000 !important;
  padding: 6px !important;
}

._variantQuantityMinus_ipt6n_191,
._variantQuantityPlus_ipt6n_192 {
  height: 14px !important;
  width: 14px !important;
  cursor: pointer;
}

._variantQuantityNum_ipt6n_198 {
  padding: 0 14px;
  color: var(--yn-dc-promo-selector-card-text-color) !important;
}

._variantOptions_ipt6n_203 {
  padding: 6px 4px !important;
  border: 1px solid #000 !important;
  flex: 1 !important;
  background-color: #fff !important;
  cursor: pointer;
  outline: none;
  border-radius: 4px !important;
  font-size: 14px !important;
  margin-left: 12px !important;
}

._variantIcon_ipt6n_215 {
  fill: red !important;
  height: 16px !important;
  cursor: pointer;
  margin-left: 12px !important;
}

._variantAction_ipt6n_222 {
  display: block !important;
  width: 32px !important;
}

.yn-tw-r *,
.yn-tw-r :before,
.yn-tw-r :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.yn-tw-r :before,
.yn-tw-r :after {
  --tw-content: "";
}

.yn-tw-r {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

.yn-tw-r hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

.yn-tw-r abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.yn-tw-r h1,
.yn-tw-r h2,
.yn-tw-r h3,
.yn-tw-r h4,
.yn-tw-r h5,
.yn-tw-r h6 {
  font-size: inherit;
  font-weight: inherit;
}

.yn-tw-r a {
  color: inherit;
  text-decoration: inherit;
}

.yn-tw-r b,
.yn-tw-r strong {
  font-weight: bolder;
}

.yn-tw-r code,
.yn-tw-r kbd,
.yn-tw-r samp,
.yn-tw-r pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

.yn-tw-r small {
  font-size: 80%;
}

.yn-tw-r sub,
.yn-tw-r sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.yn-tw-r sub {
  bottom: -0.25em;
}

.yn-tw-r sup {
  top: -0.5em;
}

.yn-tw-r table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

.yn-tw-r button,
.yn-tw-r input,
.yn-tw-r optgroup,
.yn-tw-r select,
.yn-tw-r textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.yn-tw-r button,
.yn-tw-r select {
  text-transform: none;
}

.yn-tw-r button,
.yn-tw-r [type="button"],
.yn-tw-r [type="reset"],
.yn-tw-r [type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

.yn-tw-r :-moz-focusring {
  outline: auto;
}

.yn-tw-r :-moz-ui-invalid {
  box-shadow: none;
}

.yn-tw-r progress {
  vertical-align: baseline;
}

.yn-tw-r ::-webkit-inner-spin-button,
.yn-tw-r ::-webkit-outer-spin-button {
  height: auto;
}

.yn-tw-r [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.yn-tw-r ::-webkit-search-decoration {
  -webkit-appearance: none;
}

.yn-tw-r ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.yn-tw-r summary {
  display: list-item;
}

.yn-tw-r blockquote,
.yn-tw-r dl,
.yn-tw-r dd,
.yn-tw-r h1,
.yn-tw-r h2,
.yn-tw-r h3,
.yn-tw-r h4,
.yn-tw-r h5,
.yn-tw-r h6,
.yn-tw-r hr,
.yn-tw-r figure,
.yn-tw-r p,
.yn-tw-r pre {
  margin: 0;
}

.yn-tw-r fieldset {
  margin: 0;
  padding: 0;
}

.yn-tw-r legend {
  padding: 0;
}

.yn-tw-r ol,
.yn-tw-r ul,
.yn-tw-r menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.yn-tw-r textarea {
  resize: vertical;
}

.yn-tw-r input::-moz-placeholder,
.yn-tw-r textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

.yn-tw-r input::placeholder,
.yn-tw-r textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

.yn-tw-r button,
.yn-tw-r [role="button"] {
  cursor: pointer;
}

.yn-tw-r :disabled {
  cursor: default;
}

.yn-tw-r img,
.yn-tw-r svg,
.yn-tw-r video,
.yn-tw-r canvas,
.yn-tw-r audio,
.yn-tw-r iframe,
.yn-tw-r embed,
.yn-tw-r object {
  display: block;
  vertical-align: middle;
}

.yn-tw-r img,
.yn-tw-r video {
  max-width: 100%;
  height: auto;
}

.yn-tw-r [hidden] {
  display: none;
}

* {
  scrollbar-color: initial;
  scrollbar-width: initial;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.yn-tw-r :is(.yn-dc-sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.yn-tw-r :is(.yn-dc-m-0) {
  margin: 0;
}

.yn-tw-r :is(.yn-dc-my-2) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.yn-tw-r :is(.yn-dc-inline) {
  display: inline;
}

.yn-tw-r :is(.\!yn-dc-hidden) {
  display: none !important;
}

.yn-tw-r :is(.yn-dc-h-10) {
  height: 40px;
}

.yn-tw-r :is(.yn-dc-w-10) {
  width: 40px;
}

@keyframes yn-dc-spin {
  to {
    transform: rotate(360deg);
  }
}

.yn-tw-r :is(.yn-dc-animate-spin) {
  animation: yn-dc-spin 1s linear infinite;
}

.yn-tw-r :is(.yn-dc-border-b) {
  border-bottom-width: 1px;
}

.yn-tw-r :is(.yn-dc-border-dotted) {
  border-style: dotted;
}

.yn-tw-r :is(.yn-dc-border-gray-400) {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.yn-tw-r :is(.yn-dc-fill-primary) {
  fill: rgb(var(--yn-dc-primary-color));
}

.yn-tw-r :is(.yn-dc-p-0) {
  padding: 0;
}

.yn-tw-r :is(.yn-dc-text-center) {
  text-align: center;
}

.yn-tw-r :is(.yn-dc-text-gray-200) {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.-yn-dc-relative {
  position: relative;
}

.yn-dc-Modal {
  position: absolute;
  border: 1px solid rgb(229 231 235 / 1);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 15px 3px #0000001a, 0 4px 6px -3px #0000001a;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 400px;
}

.yn-dc-Modal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffffbf;
  z-index: 100;
}

.yn-dc-add-to-cart-error {
  color: red;
}
